In [ ]:
# Confusion matrix(classification report)

# true positive : observation is positive , predicted to be positive
# true negative : obs is negative , predicted to be negative
# false positive : obs is negative but predicted to be positive
# false negative : obs is positive but predicted negative

#           predicted(1)    Predicted(0)

#Actual(1)    TP                 FN
#Actual(0)    FP                 TN

In [ ]:
# classification report

# precision(column) : tp/tp+fp : Positive Predictive Value

# recall (row) : tp/tp+fn

# f1-score: 2*recall*precision/recall+precision


# accuracy score : tp+tn/tp+tn+fp+fn

In [37]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
bank_data = pd.read_csv("/users/sanghyunryu/desktop/Trainning/DataSetHandling/SampleBankdata.csv")
bank_data.head()

,Unnamed: 0,Unnamed: 1,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
0,0,0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2,1
1,1,1,0.957151,40,0,0.121876,2600.0,4,0,0,0,1,0
2,2,2,0.658180,38,1,0.085113,3042.0,2,1,0,0,0,0
3,3,3,0.233810,30,0,0.036050,3300.0,5,0,0,0,0,0
4,4,4,0.907239,49,1,0.024926,12597.5,7,0,1,0,0,0

In [38]:
bank_data.shape

(65535, 13)

In [39]:
#drop the unnamed column

bank_data = bank_data.drop(["Unnamed: 0"],axis = 1)

In [40]:
# DIMENSION OF DATASET after dropping the unnamed column
bank_data = bank_data.drop(["Unnamed: 1"],axis = 1)
bank_data.shape

(65535, 11)

In [17]:
bank_data.dtypes

RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                        int64
SeriousDlqin2yrs                          int64
dtype: object

In [41]:
bank_data.describe()

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
count,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000
mean,5.091486,52.195148,0.423819,0.664253,5867.527298,8.413993,0.269139,1.017258,0.242679,0.739895,0.066911
std,209.579093,14.790427,4.219182,0.689893,3039.982881,5.135781,4.194458,1.131195,4.181832,1.109174,0.249869
min,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.029803,41.000000,0.000000,0.174007,3905.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.156481,52.000000,0.000000,0.365817,5388.000000,8.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.564614,63.000000,0.000000,0.869070,7382.000000,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
max,29110.000000,107.000000,98.000000,1.911665,12597.500000,58.000000,98.000000,54.000000,98.000000,20.000000,1.000000

In [42]:
print(bank_data["RevolvingUtilizationOfUnsecuredLines"])

0        0.766127
1        0.957151
2        0.658180
3        0.233810
4        0.907239
           ...
65530    0.877537
65531    0.960672
65532    0.019139
65533    0.350679
65534    0.941521
Name: RevolvingUtilizationOfUnsecuredLines, Length: 65535, dtype: float64

In [43]:
Mean = bank_data["RevolvingUtilizationOfUnsecuredLines"]
print(Mean.mean())

5.0914863032004405

In [44]:
y = bank_data[["SeriousDlqin2yrs"]]
x = bank_data.drop(["SeriousDlqin2yrs"],axis = 1)

In [45]:
#Train Test Split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.4)

In [47]:
#using KNN Algorithm
classifier = KNeighborsClassifier(n_neighbors=5)
clf = classifier.fit(x_train, y_train)

<ipython-input-47-128d19c0ed55>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  clf = classifier.fit(x_train, y_train)

In [48]:
# OVERFITTING AND UNDERFITTING

train_pred = clf.predict(x_train)


test_pred = clf.predict(x_test)

In [49]:
# CHECK THE ACCURACY

print("Accuracy:", metrics.accuracy_score(y_train,train_pred))

Accuracy: 0.9358358129243916

In [50]:
print("Accuracy:", metrics.accuracy_score(y_test,test_pred))

Accuracy: 0.931944762340734

In [53]:
print("Confusion_Matrix:\n",metrics.confusion_matrix(y_test,test_pred))
print("Classification_Report:\n",metrics.classification_report(y_test,test_pred) )

Confusion_Matrix:
 [[24383    82]
 [ 1702    47]]
Classification_Report:
               precision    recall  f1-score   support

           0       0.93      1.00      0.96     24465
           1       0.36      0.03      0.05      1749

    accuracy                           0.93     26214
   macro avg       0.65      0.51      0.51     26214
weighted avg       0.90      0.93      0.90     26214