In [ ]:
# Data Type

# I. INTEGER : NUMBER (10)
# II. DOUBLE : NUMBER WITH DECIMAL POINT (10.2)
# III. COMPLEX NUMBER : INTEGER+IMAGINARY PART(3+2J)

# IV. STRING : CHARACTER VALUE, UNICODE
# V. BOOLEAN : LOGICAL OPERATOR (TRUE, FALSE) IT'S SIMPLY AN EXPRESSION WITH TRUE AND FALSE

In [1]:
x = 20
print(x)

20

In [2]:
# Checking the data type
print(type(x))

<class 'int'>

In [4]:
# Float
float_1 = 23.56
print(type(float_1))

<class 'float'>

In [5]:
# Complex Number

comp_1 = 3+1j
print(comp_1)

(3+1j)

In [6]:
#string : unicode, immutable, it include character, separater and space

str_1 = ("python, r, sas, selenium")
print(type(str_1))

<class 'str'>

In [2]:
#Data Structure: Framework that is used to stroe data

#List : Square braket [], mutable in nature(we can change the element of list without changing it's identity(position))

list_1 = [23,34,45,56,67,78,89,98]
print(list_1)

#change third element in the list
list_1[2] = 95
print(list_1)


# SET : UNIQUE (REMOVE DUPLICATE VALUE), UNORDERED, SINGLE KEY TO REPRESENT VALUE, NOTATION IS {}, MUTABLE
# set() : CAN ALSO BE USED TO CREATE SET

my_set1 = {"python", "r", "sas", "maths"}
print(my_set1)


# DICTIONERY : KEY VALUE PAIR,KEY CAN BE STRING, NUMBER AS WELL. KEY IS USED TO IDENTIFY THE ITEM AND VALUE
# OT ITEM, UNORDERD
# dict() : USED TO CREATE DICTIONEY AND IT HELPS TO COPY THE ORIGINAL DICTIONERY AS WELL

my_dict1 = {"eng" : 75,"maths" : 89, "stats": 90, "sci": 86}
print(my_dict1)

my_dict2 = {"eng" : 75,"maths" : 89, "stats": 90, "eng": 86}
print(my_dict2)

[23, 34, 45, 56, 67, 78, 89, 98]
[23, 34, 95, 56, 67, 78, 89, 98]
{'sas', 'python', 'r', 'maths'}
{'eng': 75, 'maths': 89, 'stats': 90, 'sci': 86}
{'eng': 86, 'maths': 89, 'stats': 90}

In [3]:
# TUPLE : (), IMMUTABLE (CAN'T MODIFY)


tuple_1 = ("python", "r", "sas")
print(tuple_1)

# IMMUTABLE (CAN'T MODIFY)
tuple_1[1] = "angular"
print(tuple_1)

('python', 'r', 'sas')

TypeError: 'tuple' object does not support item assignment