In [1]:
# CONDITIONAL STATEMENT (if, elif, else)
# Be aware of indentation 

#if
x = 33
y = 30
if x > y:
    print("x is gt y")

x is gt y

In [2]:
x = 33
y = 33

#else if
if x <y:
    print("x is lt y")
elif x == y:
    print("x is eq to y")
else:
    print("x is gt 50")

x is eq to y

In [3]:
# NESTED CONDITION : CONDITION INSIDE A CONDITION
if x > 10:
    print("x is gt 10")
    if x > 20:
        print("x is gt 20")
    else:
        print("x is eq to 30")

x is gt 10
x is gt 20

In [ ]:
# LOOP : ITERATION PURPOSE,
# I. FOR LOOP : FOR N NUMBER OF ITERATIONS
# II. WHILE LOOP : IT'S BASED ON CONDITIONS

# BREAK : IT WILL BREAK THE LOOP BEFORE EXECUTION
# CONTINUE : IT WILL SKIP THE CURRENT POSITION AND MOVE ON TO THE NEXT

In [4]:
# SQUARE OF EVEN NUMBER
x = range(1,100)
for value in x:
    if value%2 == 0:
        print(value*value)

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600
1764
1936
2116
2304
2500
2704
2916
3136
3364
3600
3844
4096
4356
4624
4900
5184
5476
5776
6084
6400
6724
7056
7396
7744
8100
8464
8836
9216
9604

In [5]:
# SQUARE OF ODD NUMBERS
for value in x:
    if value%2 != 0:
        print(value*value)

1
9
25
49
81
121
169
225
289
361
441
529
625
729
841
961
1089
1225
1369
1521
1681
1849
2025
2209
2401
2601
2809
3025
3249
3481
3721
3969
4225
4489
4761
5041
5329
5625
5929
6241
6561
6889
7225
7569
7921
8281
8649
9025
9409
9801

In [6]:
#square of even number and cube of odd number
for value in x:
    if value%2 != 0:
        print(value*value)
    elif value%2 == 0:
        print(value*value*value)

1
8
9
64
25
216
49
512
81
1000
121
1728
169
2744
225
4096
289
5832
361
8000
441
10648
529
13824
625
17576
729
21952
841
27000
961
32768
1089
39304
1225
46656
1369
54872
1521
64000
1681
74088
1849
85184
2025
97336
2209
110592
2401
125000
2601
140608
2809
157464
3025
175616
3249
195112
3481
216000
3721
238328
3969
262144
4225
287496
4489
314432
4761
343000
5041
373248
5329
405224
5625
438976
5929
474552
6241
512000
6561
551368
6889
592704
7225
636056
7569
681472
7921
729000
8281
778688
8649
830584
9025
884736
9409
941192
9801

In [9]:
# BREAK STATEMENT
batch = ("python","java","r","sas","tableau")
for session in batch:
    print(session)
    if session == "r":
        break


for session in batch:
    if session == "r":
        break
    print(session)

python
java
r
python
java

In [10]:
# CONTINUE STATEMENT

for value1 in batch:
    if value1 == "java":
        continue
    print(value1)

python
r
sas
tableau

In [12]:
# NESTED LOOP

batch = ("python","java","r","sas","tableau")
name = ("rupesh","uhfa","sam","olu","hassan")

for x in batch:
    for y in name:
        print(x,y)

# WHILE LOOP

print("\n----------------------")

i = 1

while i <5:
    i+= 1
    print(i)

python rupesh
python uhfa
python sam
python olu
python hassan
java rupesh
java uhfa
java sam
java olu
java hassan
r rupesh
r uhfa
r sam
r olu
r hassan
sas rupesh
sas uhfa
sas sam
sas olu
sas hassan
tableau rupesh
tableau uhfa
tableau sam
tableau olu
tableau hassan

----------------------
2
3
4
5